.simple-trans-main > div {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5em;
  will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
  background-color: black;
}

.sectionTitle{
  font-size: 14rem;
  font-family: "Mak";
}
