.welcomebg{
	/*container position*/
	position:fixed;
	padding:0;
	margin:0;

	top:0;
	left:0;

	width: 100%;
	height: 100%;

	/*background image*/
	background: url(./imageBackground.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.welcome{
	z-index: -10;
}